*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* header------------------------------------------------------ */

header {
  height: 80px;
  background-color: aquamarine;
}

img {
  vertical-align: middle;
  padding-bottom: 15px;
  padding-left: 15px;
}

.logo {
  font-size: 35px;
  line-height: 80px;
}

/* /header------------------------------------------------------ */
