/* generals-------------------------------------------- */

*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: rgb(243, 242, 242);
}
.container {
  width: 70%;
  margin: auto;
  background-color: white;
}
.mark {
  width: 20px;
  height: 20px;
  border: solid 2px green;
  border-radius: 100%;
  text-align: center;
  margin-left: 50px;
  color: green;
  display: inline-block;
}
.badge {
  font-size: 10px;
  border: 1px solid white;
  padding: 5px;
  display: inline;
  border-radius: 10px;
  color: white;
} 
.line {
  padding-bottom: 20px;
}

/* generals---------------------------------------------------- */




/* header------------------------------------------------------ */

header {
  height: 80px;
  background-color: white;
  margin-bottom: 40px;
}

img {
  vertical-align: middle;
  padding-bottom: 15px;
  padding-left: 15px;
}

.logo {
  font-size: 35px;
  line-height: 80px;
}

/* /header-----------------------------------------------------*/




/* first section------------------------------------------------------*/

.container.first {
  height: 50px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 3px;
}
.button {
  height: 30px;
  display: inline-block;
  padding: 0px 20px;
  border-radius: 5px;
  line-height: 30px;
  font-size: 12px;
  margin-top: 8px;
  margin-left: 20px;
}
.button.one {
  background-color: rgb(0, 170, 255);
  color: white;
}
.button.two {
  border: solid 1px gray;
  color: gray;
}

/* /first section------------------------------------------------------*/




/* main section------------------------------------------------------*/

.container.second {
  border-radius: 0 0 10px 10px;
}
.task {
  padding: 30px 0 10px 50px;
  font-size: 20px;
}
p {
  display: inline-block;
}
.badge.blue {
  background-color: rgb(0, 159, 251);
}
.badge.purple {
  background-color: rgb(155, 47, 177);
}
.badge.green {
  background-color: rgb(8, 168, 8);
}
.badge.orange {
  background-color: orange;
}
.badge.light-green {
  background-color: lightgreen;
}
.badge.pink {
  background-color: rgb(193, 41, 115);
}
.mark.check {
  border: solid 2px green;
  color: green;
}
.mark.cross {
  border: solid 2px red;
  color: red;
}

/* main section------------------------------------------------------*/




